<section id="about-me">
  <div class="container">
    <h2 class="title-section-about-me">About Me</h2>
      <div class="presentation-items">
          <ul class="list-items-presentation-my">
            <li class="item-my-activity">
                <p class="my-activity">I work with people all over the world to create impressive and <span class="my-activity-style-word-one">functional</span> <span class="my-activity-style-word-two">websites</span> that reflect each client's unique personality.</p>
            </li>
            <li class="item-my-photo">
              <picture data-aos="zoom-in-down" data-aos-duration="1500">
                <source srcset="./images/about-me/about-me-desk.png, ./images/about-me/about-me-desk@2x.png"
                    media="(min-width: 1280px)">
                <source srcset="./images/about-me/about-me-tab.png, ./images/about-me/about-me-tab@2x.png"
                    media="(min-width: 768px)">
                <source srcset="./images/about-me/about-me-mob.png, ./images/about-me/about-me-mob@2x.png"
                    media="(max-width: 767px)">
                <img src="#" alt="my photo" class="my-photo">
            </picture>
            </li>
          </ul>
      </div>
      <div class="description-items accordion-container">
        <ul class="list-items-description-my">
          <div class="accordion-container-first">
            <li class="item-my-description">
              <div class="accord-title">
                <h3 class="title-description">ABOUT ME</h3>           
                <button type="button" class="btn-accordion-description">></button>
              </div>
              <div class="accord-panel">
                <p class="text-description-one">I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of different programming languages ​​and technologies, always ready to improve my skills. I always follow the latest trends and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.</p>
                <p class="text-description-two">Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work. I am always looking for opportunities for self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.</p>
              </div>
            </li>
          </div>
          <div class="accordion-container">
              <li class="item-my-role">
                <div class="accord-title title-role">
                  <h3 class="title-role">ROLE</h3>
                  <button type="button" class="btn-accordion-role">></button>
                </div>
                <div class="accord-panel-role style-text-role">
                  <p>Frontend development</p>
                  <p>HeadlessCMS,Wordpress</p>
                  <p>Blender(enjoy)</p>
                </div>
              </li>

              <li class="item-my-education">
                <div class="accord-title title-education">
                  <h3 class="title-education">EDUCATION</h3>
                  <button type="button" class="btn-accordion-education">></button>
                </div>
                  <div class="accord-panel-education style-text-education">
                    <p>2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</p>
                    <p>2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
                    <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
                  </div>
              </li>
          </div>
        </ul>
      </div>
      
    <div class="skills-items swiper">
      <ul class="list-items-skills swiper-wrapper">
          <li class="item-skill swiper-slide">
            <div class="skill-text">
              <p class="skill-text">HTML/CSS</p>
            </div>  
          </li>
          <li class="item-skill swiper-slide">
            <div class="skill-text">
              <p>JavaScript</p>
            </div>
          </li>
          <li class="item-skill swiper-slide">
             <div class="skill-text">
              <p>React</p>
            </div>
          </li>
          <li class="item-skill swiper-slide">
             <div class="skill-text">
              <p>Node.js</p>
            </div>
          </li>
          <li class="item-skill swiper-slide">
             <div class="skill-text">
              <p>React Native</p>
            </div>
          </li>
          <li class="item-skill swiper-slide">
             <div class="skill-text">
              <p>Soft skills</p>
            </div>
          </li>
      </ul>
        <button class="btn-slide swiper-button-next" type="button"> -> </button>
    </div>
  </div>
</section>

