<section id="about-me">
  <h2 class="visually-hidden">About Me</h2>

  <div class="container">
    <div class="about-story-container">
      <div class="about-story-block-story">
        <p class="about-story">
          I work with people all over the world to create impressive and
          <span class="about-accent-red">functional</span>
          <span class="about-accent-gray">websites</span> that reflect each
          client's unique personality.
        </p>
      </div>
      <div class="about-story-block-photo"></div>
    </div>

    <ul class="about-accordion accordion">
      <li class="about-accordion-item ac">
        <div class="ac-trigger">
          <h3 class="about-title-accordion ac-header">
            ABOUT ME
            <button class="btn-arrow-read-more">
              <svg class="svg-arrow-read-more">
                <use href="./images/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </h3>

          <div class="about-accord-dropdown ac-panel">
            <p>
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages​ ​and technologies, always ready
              to improve my skills. I always follow the latest trends and look
              for unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
            <p>
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work.I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </div>
      </li>
      <li class="about-accordion-item ac">
        <div class="ac-trigger">
          <h3 class="about-title-accordion ac-header">
            ROLE
            <button class="btn-arrow-read-more">
              <svg class="svg-arrow-read-more">
                <use href="./images/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </h3>

          <div class="about-accord-dropdown ac-panel">
            <ul class="about-accordion-list">
              <li>Frontend development</li>
              <li>HeadlessCMS,Wordpress</li>
              <li>Blender(enjoy)</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="about-accordion-item ac">
        <div class="ac-trigger">
          <h3 class="about-title-accordion ac-header">
            EDUCATION
            <button class="btn-arrow-read-more">
              <svg class="svg-arrow-read-more">
                <use href="./images/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </h3>

          <div class="about-accord-dropdown ac-panel">
            <ul class="about-accordion-list">
              <li>
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </li>
              <li>
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </li>
              <li>
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>

    <div class="about-skills-container">
      <div class="swiper no-overflow">
        <ul class="about-skills swiper-wrapper">
          <li class="about-skills-item swiper-slide">
            <p>HTML/CSS</p>
          </li>

          <li class="about-skills-item swiper-slide">
            <p>JavaScript</p>
          </li>

          <li class="about-skills-item swiper-slide">
            <p>React</p>
          </li>

          <li class="about-skills-item swiper-slide">
            <p>Node.js</p>
          </li>

          <li class="about-skills-item swiper-slide">
            <p>React Native</p>
          </li>

          <li class="about-skills-item swiper-slide">
            <p>Soft skills</p>
          </li>

          <li class="about-skills-item swiper-slide">
            <p>HTML/CSS</p>
          </li>

          <li class="about-skills-item swiper-slide">
            <p>JavaScript</p>
          </li>

          <li class="about-skills-item swiper-slide">
            <p>React</p>
          </li>

          <li class="about-skills-item swiper-slide">
            <p>Node.js</p>
          </li>

          <li class="about-skills-item swiper-slide">
            <p>React Native</p>
          </li>

          <li class="about-skills-item swiper-slide">
            <p>Soft skills</p>
          </li>
        </ul>
      </div>

      <button class="swiper-button-next" type="button">
        <svg>
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
