<section id="projects" class="projects">
  <div class="projects-container">
    <h2 class="projects-title visually-hidden">Projects</h2>
    <div class="projects-swiper">
      <ul class="projects-list projects-swiper-cover"></ul>
    </div>
    <div class="projects-button">
      <button class="projects-button-back btn">
        <svg class="projects-swiper-icon left">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button class="projects-button-next btn">
        <svg class="projects-swiper-icon">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
