<section class="covers">
  <div class="marquee container">
    <h2 class="visually-hidden">Covers</h2>
    <ul class="marquee-inner">
      <li class="marquee-card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/covers/01-starlight.png,
                /images/covers/01-starlight@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/covers/01-starlight.png,
                /images/covers/01-starlight@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /images/covers/01-starlight.png
                /images/covers/01-starlight@2x.jpg 2x
             "
              width="282"
              type="images/jpg"
            />
            <img
              class="marquee-photo"
              src="/images/covers/01-starlight.png"
              alt="01-starlight"
              min-width="282"
              min-height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee-card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/covers/02-energy-flow.png,
                /images/covers/02-energy-flow@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/covers/02-energy-flow.png,
                /images/covers/02-energy-flow@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /images/covers/02-energy-flow.png
                /images/covers/02-energy-flow@2x.jpg 2x
             "
              width="282"
              type="images/jpg"
            />
            <img
              class="marquee-photo"
              src="/images/covers/02-energy-flow.png"
              alt="01-starlight"
              min-width="282"
              min-height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee-card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/covers/03-fruitbox.png,
                /images/covers/03-fruitbox@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/covers/03-fruitbox.png,
                /images/covers/03-fruitbox@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /images/covers/03-fruitbox.png
                /images/covers/03-fruitbox@2x.jpg 2x
             "
              width="282"
              type="images/jpg"
            />
            <img
              class="marquee-photo"
              src="/images/covers/03-fruitbox.png"
              alt="01-starlight"
              min-width="282"
              min-height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
    <ul class="marquee-inner">
      <li class="marquee-card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/covers/04-chego.png,
                /images/covers/04-chego@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/covers/04-chego.png,
                /images/covers/04-chego@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /images/covers/04-chego.png
                /images/covers/04-chego@2x.jpg 2x
             "
              width="282"
              type="images/jpg"
            />
            <img
              class="marquee-photo"
              src="/images/covers/04-chego.png"
              alt="01-starlight"
              min-width="282"
              min-height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee-card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/covers/05-mimino.png,
                /images/covers/05-mimino@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/covers/05-mimino.png,
                /images/covers/05-mimino@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /images/covers/05-mimino.png
                /images/covers/05-mimino@2x.jpg 2x
             "
              width="282"
              type="images/jpg"
            />
            <img
              class="marquee-photo"
              src="/images/covers/05-mimino.png"
              alt="01-starlight"
              min-width="282"
              min-height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee-card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/covers/06-ukrainian-clothes.png,
                /images/covers/06-ukrainian-clothes@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/covers/06-ukrainian-clothes.png,
                /images/covers/06-ukrainian-clothes@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /images/covers/06-ukrainian-clothes.png
                /images/covers/06-ukrainian-clothes@2x.jpg 2x
             "
              width="282"
              type="images/jpg"
            />
            <img
              class="marquee-photo"
              src="/images/covers/06-ukrainian-clothes.png"
              alt="01-starlight"
              min-width="282"
              min-height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee-card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/covers/07-green-harvest.png,
                /images/covers/07-green-harvest@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/covers/07-green-harvest.png,
                /images/covers/07-green-harvest@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /images/covers/07-green-harvest.png
                /images/covers/07-green-harvest@2x.jpg 2x
             "
              width="282"
              type="images/jpg"
            />
            <img
              class="marquee-photo"
              src="/images/covers/07-green-harvest.png"
              alt="01-starlight"
              min-width="282"
              min-height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
    <ul class="marquee-inner">
      <li class="marquee-card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/covers/08-power-pulse.png,
                /images/covers/08-power-pulse@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/covers/08-power-pulse.png,
                /images/covers/08-power-pulse@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /images/covers/08-power-pulse.png
                /images/covers/08-power-pulse@2x.jpg 2x
             "
              width="282"
              type="images/jpg"
            />
            <img
              class="marquee-photo"
              src="/images/covers/08-power-pulse.png"
              alt="01-starlight"
              min-width="282"
              min-height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee-card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/covers/09-wallet.png,
                /images/covers/09-wallet@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/covers/09-wallet.png,
                /images/covers/09-wallet@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /images/covers/09-wallet.png
                /images/covers/09-wallet@2x.jpg 2x
             "
              width="282"
              type="images/jpg"
            />
            <img
              class="marquee-photo"
              src="/images/covers/09-wallet.png"
              alt="01-starlight"
              min-width="282"
              min-height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="marquee-card">
        <div class="marquee-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/covers/10-english.png,
                /images/covers/10-english@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /images/covers/10-english.png,
                /images/covers/10-english@2x.jpg 2x
              "
              width="544"
              type="images/jpg"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /images/covers/10-english.png
                /images/covers/10-english@2x.jpg 2x
             "
              width="282"
              type="images/jpg"
            />
            <img
              class="marquee-photo"
              src="/images/covers/10-english.png"
              alt="01-starlight"
              min-width="282"
              min-height="162"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
