<section id="reviews">
  <div class="container">
    <h2>Reviews</h2>
    <ul class="reviews">
      <li>
        <img
          src="https://ftp.goit.study/img/avatars/4.jpg"
          alt="Natalia's photo"
        />
        <h3 class="reviewer-name">Natalia</h3>
        <p class="review">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations.
        </p>
      </li>

      <li>
        <img
          src="https://ftp.goit.study/img/avatars/4.jpg"
          alt="Natalia's photo"
        />
        <h3 class="reviewer-name">Natalia</h3>
        <p class="review">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations.
        </p>
      </li>

      <li>
        <img
          src="https://ftp.goit.study/img/avatars/4.jpg"
          alt="Natalia's photo"
        />
        <h3 class="reviewer-name">Natalia</h3>
        <p class="review">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations.
        </p>
      </li>

      <li>
        <img
          src="https://ftp.goit.study/img/avatars/4.jpg"
          alt="Natalia's photo"
        />
        <h3 class="reviewer-name">Natalia</h3>
        <p class="review">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations.
        </p>
      </li>

      <li>
        <img
          src="https://ftp.goit.study/img/avatars/4.jpg"
          alt="Natalia's photo"
        />
        <h3 class="reviewer-name">Natalia</h3>
        <p class="review">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations.
        </p>
      </li>

      <li>
        <img
          src="https://ftp.goit.study/img/avatars/4.jpg"
          alt="Natalia's photo"
        />
        <h3 class="reviewer-name">Natalia</h3>
        <p class="review">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations.
        </p>
      </li>

      <li>
        <img
          src="https://ftp.goit.study/img/avatars/4.jpg"
          alt="Natalia's photo"
        />
        <h3 class="reviewer-name">Natalia</h3>
        <p class="review">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations.
        </p>
      </li>
    </ul>
  </div>
</section>
