<li class="item-my-role ac">
  <div class="ac-trigger">
    <div class="accord-title title-role">
      <h3 class="title-role">ROLE</h3>
      <button type="button" class="btn-accordion">
        <svg class="icon-ac">
          <use href="./images/sprite.svg#icon-arrow-down"></use>
        </svg>
      </button>
    </div>
    <div class="accord-panel-role style-text-role">
      <p>Frontend development</p>
      <p>HeadlessCMS,Wordpress</p>
      <p>Blender(enjoy)</p>
    </div>
  </div>
</li>

<li class="item-my-education ac">
  <div class="ac-trigger">
    <div class="accord-title title-education">
      <h3 class="title-education">EDUCATION</h3>
      <button type="button" class="btn-accordion">
        <svg class="icon-ac">
          <use href="./images/sprite.svg#icon-arrow-down"></use>
        </svg>
      </button>
    </div>
    <div class="accord-panel-education style-text-education">
      <p>
        2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
      </p>
      <p>
        2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New
        York
      </p>
      <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
    </div>
  </div>
</li>
