<header class="header container">
  <div class="header-left">
    <img
      srcset="
        ./images/header/header_logo.png    1x,
        ./images/header/header_logo@2x.png 2x
      "
      src="./images/header/header_logo.png"
      alt="Photo_Jefferson"
    />
    <svg class="icon-header-logo" width="84px" height="19px">
      <use href="./images/sprite.svg#icon-jefferson"></use>
    </svg>
  </div>
  <div class="header-right">
    <svg class="header-icon-burger" width="28px" height="28px">
      <use href="./images/sprite.svg#icon-menu-burger"></use>
    </svg>
  </div>

  <nav class="menu-center">
    <p class="menu-center-open">Menu</p>
    <ul class="menu-center-list">
      <li class="menu-center-item">
        <a href="#about-me">About me</a>
      </li>
      <li class="menu-center-item">
        <a href="#benefits">Benefits</a>
      </li>
      <li class="menu-center-item">
        <a href="#projects">Projects</a>
      </li>
      <li class="menu-center-item">
        <a href="#faq">FAQ</a>
      </li>
    </ul>
  </nav>

  <a class="button-order-project btn-red" href="#footer"> Order the project </a>
</header>

<!-- MOBILE-BACKDROP -->
<div class="modal-header">
  <div class="header-menu">
    <button
      class="modal-btn-close"
      id="close-btn"
      type="button"
      aria-label="close modal window"
    >
      <svg class="menu-icon-close" width="28px" height="28px">
        <use href="./images/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <ul class="menu-list">
      <li class="menu-item">
        <a href="#about-me">About me</a>
      </li>
      <li class="menu-item">
        <a href="#benefits">Benefits</a>
      </li>
      <li class="menu-item">
        <a href="#projects">Projects</a>
      </li>
      <li class="menu-item">
        <a href="#faq">FAQ</a>
      </li>
    </ul>
    <a class="btn-menu btn-red" href="#footer">Order the project</a>
  </div>
</div>
