#about-me {
  letter-spacing: -0.02em;
}

.about-story-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.about-story-block-story,
.about-story-block-photo {
  border-radius: 24px;
}

.about-story-block-story {
  min-height: 500px;
  background-color: var(--cards-color);
  padding: 32px;
}

.about-story {
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
}

.about-accent-red {
  color: var(--base-red);
}

.about-accent-gray {
  color: rgba(250, 250, 250, 0.4);
}

/*---------------------------------- Accordion --------------------------------*/

.about-accordion {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
}

.about-accordion-item:not(:first-child) > .ac-trigger {
  padding-top: 20px;
}

.about-accordion-item,
.about-title-accordion {
  --animation-duration: 0.5s;
}

.about-accordion-item {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  transition: padding-bottom var(--animation-duration) ease;
}

.about-accordion-item.is-active {
  padding-bottom: 20px;
}

.about-title-accordion {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  padding-bottom: 32px;

  transition: padding-bottom var(--animation-duration) ease;
}

.ac-trigger[aria-expanded='true'] .about-title-accordion {
  padding-bottom: 12px;
}

.about-accord-dropdown {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 32px;
  line-height: 150%;
}

.about-accordion-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  letter-spacing: -0.02em;
}

/* ------- Toggle Button ------- */

#about-me .btn-arrow-read-more {
  width: 36px;
  height: 36px;
}

#about-me .svg-arrow-read-more {
  width: 18px;
  height: 18px;
}

/*---------------------------------- Swiper --------------------------------*/

.about-skills-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 55px;
}

#about-me .swiper {
  display: flex;
}

/* List */
.about-skills {
  display: flex;
  flex-wrap: nowrap;
  max-width: 260px;
}

/* Item */
.about-skills-item {
  display: flex;
  justify-content: center;

  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  min-width: 130px;
  min-height: 130px;
  transition: border-color 250ms ease;
}

.about-skills-item > p {
  display: flex;
  align-items: center;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.about-skills-item.swiper-slide-active {
  background-color: var(--base-red);
  border: none;
}

.about-skills-item:not(.swiper-slide-active):hover {
  border-color: var(--white);
}

/* Arrow button */

#about-me .swiper-button-next {
  display: block;
  border: none;
  width: 28px;
  height: 28px;
  position: relative;
}

#about-me .swiper-button-next > svg {
  stroke: #3b3b3b;
  width: 28px;
  height: 28px;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#about-me .swiper-button-next:hover > svg {
  stroke: #fafafa;
}

/*------------------ Adaptive Tablet (768px)-----------------*/

@media screen and (min-width: 768px) {
  .about-story-block-story {
    padding: 64px;
    min-height: 700px;
  }

  .about-story {
    font-size: 38px;
    line-height: 105%;
  }

  .about-story-block-photo {
    min-height: 700px;
  }

  /* Accordion */

  .about-accordion {
    margin: 64px 0;
  }

  .about-accordion-item:not(:first-child) > .ac-trigger {
    padding-top: 32px;
  }

  .ac-trigger[aria-expanded='true'] .about-title-accordion {
    padding-bottom: 12px;
  }

  .about-accord-dropdown {
    gap: 16px;
  }

  .about-accordion-item.is-active {
    padding-bottom: 32px;
  }

  /* Swiper */

  .about-skills-container {
    gap: 64px;
  }

  .about-skills {
    max-width: 600px;
  }

  .about-skills-item {
    min-width: 200px;
    min-height: 200px;
  }

  .about-skills-item > p {
    font-size: 20px;
  }

  #about-me .swiper-button-next {
    width: 40px;
    height: 40px;
  }

  #about-me .swiper-button-next > svg {
    width: 40px;
    height: 40px;
  }
}

/*------------------ Adaptive desktop (1440px)-----------------*/
@media screen and (min-width: 1440px) {
  .about-story-container {
    flex-direction: row;
  }

  .about-story-block-story,
  .about-story-block-photo {
    min-width: calc((100% - 16px) / 2);
  }

  .about-story-block-photo img {
    height: 700px;
  }

  /* Accordion */

  .about-accordion {
    margin: 96px 0;
  }

  .about-accord-dropdown {
    margin-left: 696px;
    margin-right: 68px;
    gap: 32px;
  }

  /* Swiper */

  .about-skills-container {
    gap: 72px;
    margin: 0 32px;
  }

  .about-skills {
    max-width: 1200px;
  }
}
