/* 06-covers */
#covers {
  height: 508px;
}

.marquee {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  background-image: image-set(
    url(/images/covers/background-mob.jpg) 1x,
    url(/images/covers/background-mob@2x.jpg) 2x
  );
  background-size: cover;
}

.marquee.container {
  padding: 0;
  overflow: hidden;
  max-height: 508px;
}

.marquee-inner {
  display: flex;
  gap: 25px;
  transform: rotate(16deg);
}
.marquee-wrapper {
  height: 100%;
}
.marquee-card {
  display: block;
  flex-shrink: 0;
  width: 282px;
  height: 163px;
  object-fit: cover;
}
.animation {
  animation-name: marqueeLine;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.marquee-photo {
  width: 100%;
  height: 100%;
}

@keyframes marqueeLine {
  0% {
    transform: translate(5px);
  }
  50% {
    transform: translate(-100px);
  }
  100% {
    transform: translate(5px);
  }
}
/* Tablet */
@media only screen and (min-width: 768px) {
  #covers {
    height: 960px;
  }

  .marquee.container {
    max-height: 960px;
  }

  .marquee {
    gap: 50px;
    background-image: image-set(
      url(/images/covers/background-tab.jpg) 1x,
      url(/images/covers/background-tab@2x.jpg) 2x
    );
  }

  .marquee-inner {
    gap: 50px;
  }

  .marquee-card {
    width: 544px;
    height: 314px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  #covers {
  }

  .marquee {
    gap: 64px;
    background-image: image-set(
      url(/images/covers/background-desk.jpg) 1x,
      url(/images/covers/background-desk@2x.jpg) 2x
    );
  }

  .marquee-inner {
    gap: 64px;
  }
}
