ul.reviews {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
  overflow: hidden;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin: 32px 0;
}

ul.reviews > li {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  min-width: calc(320px - 34px);
  max-width: calc(375px - 34px);
  flex-basis: 100%;
}

@media screen and (min-width: 375px) {
  ul.reviews > li {
    width: 344px;
  }
}

ul.reviews > li > img {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

ul.reviews > li > h3 {
  margin-top: 32px;
  font-weight: 600;
  font-size: 20px;
  color: #fafafa;
}

ul.reviews > li > p {
  margin-top: 8px;
  color: rgba(250, 250, 250, 0.6);
}

.side-arrows > div {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 18px;
  width: 68px;
  height: 68px;
}

.side-arrows-left,
.side-arrows-right {
  background: none;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 18px;
  width: 68px;
  height: 68px;
  background: url('/images/sprite.svg#icon-arrow-right');
  /* <svg>
  <use xlink:href="/images/sprite.svg#icon-arrow-right"></use>
</svg> */
}

.side-arrows-left {
  transform: rotate(-180deg);
}

.side-arrows-left:disabled,
.side-arrows-right:disabled {
  border-color: rgba(250, 250, 250, 0.2);
}
