/* Styles for Mobile devices */
.container {
  max-width: 375px;
  min-width: 320px;
  padding: 0 16px;
  margin: 32px auto;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    margin: 48px auto;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1440px;
  }
}
