.iziToast > .iziToast-close {
  width: 16px;
  height: 16px;
  top: 22px;
  right: 16px;
}

.iziToast > .iziToast-body .iziToast-title,
.iziToast > .iziToast-body .iziToast-message {
  font-family: 'Inter Tight', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fff;
}

.iziToast > .iziToast-body .iziToast-title {
  font-weight: 700;
}

.iziToast.iziToast-color-red {
  background-color: #ef4040;
  border-color: #ffbebe;
}
